



<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>


{% if users.has_other_pages %}




      <div class="col-6 offset-3 text-center pagination-set ">
          <nav aria-label="">
              <ul class="pagination justify-content-center">
                   {% if users.has_previous %}
                        <li class="page-item"><a class="page-link"
                        href="?page={{ users.previous_page_number }}"><<</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link"><span><<</span></a>
                        </li>
                    {% endif %}
                    {% for i in page_range %}
                        {% if users.number == i %}
                             <li class="page-item active"> 
                                  <a class="page-link" href="#">{{i}} <span class="sr-only">(current)</span></a>
                             </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if users.has_next %}
                          <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{ users.next_page_number }}">>></a> </li>
                    {% else %}
                          <li class= "page-item disabled"> 
                                <a class="page-link"><span>>></span></a>
                          </li>
                    {% endif %}
              </ul>
          </nav>
      </div>

{% endif %}

