{% extends "base.html" %} 

{ {% block head %}
    <title>All Shops</title>
{% endblock head %}}

{% block body %}
<nav class="navbar navbar-expand text-white shadow navbar " style="background-color:teal;"><b>All Shops</b></nav>
<br/>




    <div class="row no-gutters">
    <!--fist part-->
            <div class="col-12 col-sm-6 col-md-3">

          

            
            </div>
    <!--end fisrt part-->


    <!--second secton-->
        <div class="col-12 col-sm-6 col-md-9" style="color:rgb(21, 20, 13)">



        
       <div class="container"> 
       {% for user in users %}   
       {% if user.is_staff %}   
       {% if user.is_shop %}   
          <div class=" ">
                
                <div class=" mw-100 card  " style="width: 62rem; ">
          
          
          
          <div class="card-body " >
              
                    <div class="row">
                                <div class="col-12 col-md-3">
                                    <a href="{% url 'Profile:view_profile_with_pk' pk=user.pk %}">
                            
                            
                                         <img class="border border-grey rounded" src="{% if user.shop.image %}
                                                     {{ user.shop.image.url  }}{% else %}{% endif  %}
                                                    " class="img-responsive" alt="no image" style="width:5.5rem; height:6.5rem;">
                            
                            
                            
                                    </a>
                                </div>
                                <div class="col-12 col-md-3">
                                     
                                    <a href="{% url 'Profile:view_profile_with_pk' pk=user.pk %}">
                                            <b>{{ user.shop.shop_name|truncatechars:100 }}</b> 
                                    </a>
                                    </br>
                                    <a >
                                        <b> location: </b>  {{ user.shop.city|truncatechars:100 }}
                                    </a>  
                                   <a>
                                            <p><b>contacts:</b> {{ user.shop.phone|truncatechars:100 }}</p>
                                    </a>  
                                        

                                </div>
                                <div class="col-12 col-md-6">
                                <h6 style="color:teal;"><b>Description</b></h6>
                                       <p style="color:black;">{{ user.shop.description|truncatechars:100 }}</p>

                                        {% if not user in friends %}
                    <a href="{% url 'home:change_friends' operation='add' pk=user.pk %}">
                      <button type="submit" class="btn btn-sm btn-outline-primary  " name="button">add to favourite</button> 
                    </a> 
                    {% endif %}
     

                                </div>
                    </div>


               
           
        
          
         </div>
         
</div>

         
        </div>
        {% else %}


 


        {% endif %}
       {% endif %}
 {% endfor %}






      </div>

 


<!--end second section-->


    <br/>

{% include "paginationn.html" %} 

    </div>
    
      <hr/>
     
     
      <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
              
            <p>Favourite &copy; 2019 <a href="{% url 'home:privacy' %}">Privacy</a> Favourite <a href="#">Terms</a></p>
          </footer>   
    

{% endblock body %}

