{% extends "base.html" %}


{{%  block head %}
<title>about</title>
{% endblock head  %}}

{% block body %}
<nav class="navbar navbar-expand text-white shadow navbar " style="background-color:teal;">about favourite</nav>
<div class="jumbotron">
     <h6>favourite is a plartform created to and for easy and quality shopping.There are a no of shops in the site and many more will be available in the
     coming months.We expect to enroll more than a hundred shops by the end of the year.Upon login a user is able to access a viriety of products and shops offering those products in nairobi.
      The user also enjoy the privilede of adding shops to his/her favourite list for asier access and update of shops. Shops on the plartform also enjoy 
      the priledge of updating their clients on new products that they have bo=rought in the market and thi will result in increased sales. We urge all shops to strictly adher to 
      favourite's terms and conditions' 
     </h6>

</div>


{% endblock body %} 