{% extends "base.html" %}   
{% load crispy_forms_tags %}
    { {% block head %}
    <title>reset password sent to your email</title>
{% endblock head %}}   
{% block body %}

<nav class="navbar navbar-expand text-white shadow navbar " style="background-color:teal;"><h6>Reset password sent !!</h6></nav>
<div class="container">
    <div class="">
         
<br/>
<h2>Reset password link sent. </h2>

 <p class="lead">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p class="lead">
    If you don't receive an email, please <b>make sure you've entered the address you registered with</b>,
    and check your spam folder.
  </p>

</div>
</div>
{% endblock body %}
