{% extends "base.html" %}  

{{%  block head %}
<title>Reset password complete</title>
{% endblock head  %}}

{% block body %}

<nav class="navbar navbar-expand text-white shadow-sm navbar " style="background-color:teal;"><h6> password reset complete!!</h6></nav>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
         
<br/>
<h2>Password reset complete</h2>
<p class="lead">Your password reset is complete. You can proceed to login with your new password.
    
</p>
 

<a href="{% url 'login'  %}" class="btn btn-success" role="button">login again</a>

</div>

</div>

{% endblock body %}
